@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(255, 255, 255, 0.926);
}


.mesh-bg{
    background-image: url('./assets/mesh.jpg');
    background-size: cover;
    background-position: center;
}


.my-preview h1{
    font-size: 32px;
    font-weight: bold;
}

.my-preview h2{
    font-size: 24px;
    font-weight: bold;
}

.my-preview li{
    list-style:disc;
    margin-left: 24px;
}